// mixins
@import "/src/styles/mixins/@_main.scss";

// variables
@import "/src/styles/variables/@_main.scss";

.passwordInput {
  label {
    @include label;
  }
}

// input and eye container
.inputContainer {
  // make the container look like input
  @include input;
  // override padding from the mixin
  padding: 0;

  // divide input and svg in parts using flex
  @include fl("r", "c", "c", 0);

  input {
    @include input;
    // override the input mixin to remove nested borders and background
    background: none;
    border: none;
    outline: none;

    width: 85%;
  }

  svg {
    // equalize padding between by adding right padding
    padding-right: $space-2xs;
    width: 15%;
  }
}
