// variables
@import "/src/styles/variables/@_main.scss";

// mixins
@import "/src/styles/mixins/@_main.scss";

.page {
  @include pageContainer;
}

.home {
  width: 100%;
  padding: $space-3xs-2xs;

  .projects {
    padding: $space-3xs-2xs;
    @include fl("c", null, null, $space-s);
  }
}

.heading {
  @include fl("r", space-between, null, $space-3xs);
  flex-wrap: wrap;

  .headingButtons {
    margin-left: auto;
    @include fl("r", "c", "c", $space-2xs);
  }

  // refresh button
  .refresh {
    @include fl("r", "c", "c", $space-3xs);

    @include linkButton2;
  }

  // add project button
  a {
    @include fl("r", "c", "c", $space-2xs);
    svg {
      font-size: $step-1;
    }
  }
}

// hide user in mobile
@media (max-width: 360px) {
  .heading {
    // hide refresh and add project text
    .refresh,
    a {
      span {
        display: none;
      }
    }
  }
}
