@mixin linkButton {
  @include radiusVariants;

  width: 100%;
  padding: $space-2xs;

  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;

  color: var(--txt);
  background: var(--fg-pri);
  border: $border var(--bg-ter);
}
