@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Mixins
@import "./mixins/main.scss";

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --txt: #fef9ec;
  --txt-a: #f8d26d;
  --bg-pri: #140f00;
  --bg-pri-a: #181201;
  --bg-sec: #312303;
  --bg-sec-a: #483505;
  --bg-ter: #614705;
  --bg-ter-a: #795906;
  --fg-pri: #ff8400;
  --fg-pri-a: #ff9523;
  --fg-sec: #ac3806;
  --fg-sec-a: #d84609;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  $theme: "light";
  :root {
    --txt: #130e01;
    --txt-a: #926b08;
    --bg-pri: #fffaeb;
    --bg-pri-a: #fcefcf;
    --bg-sec: #fae09e;
    --bg-sec-a: #f9d886;
    --bg-ter: #f7d06e;
    --bg-ter-a: #f6c955;
    --fg-pri: #ff8400;
    --fg-pri-a: #cc6900;
    --fg-sec: #cf4307;
    --fg-sec-a: #ac3806;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  $theme: "dark";
  :root {
    --txt: #fef9ec;
    --txt-a: #f8d26d;
    --bg-pri: #140f00;
    --bg-pri-a: #181201;
    --bg-sec: #312303;
    --bg-sec-a: #483505;
    --bg-ter: #614705;
    --bg-ter-a: #795906;
    --fg-pri: #ff8400;
    --fg-pri-a: #ff9523;
    --fg-sec: #ac3806;
    --fg-sec-a: #d84609;
  }
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "SF Pro Display", "Ubuntu", sans-serif;

  /* transition: all 0.3s ease-out; */
  /* -webkit-transition: all 0.3s ease-out; */
  /* -moz-transition: all 0.3s ease-out; */
  /* -o-transition: all 0.3s ease-out; */
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 2160 / 16px = 135 */
@media (max-width: 135em) {
  html {
    font-size: 75%;
  }
}

/* 1440px / 16px = 90em */
@media (max-width: 90em) {
  html {
    font-size: 65%;
  }
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 45%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 35%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-sec);
  border-radius: 0.4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fg-pri);
  border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--fg-pri-a);
}
