#themeBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  aspect-ratio: 1/1;

  background-image: url("/images/theme/moon.svg");
  background-size: cover;
  background-position: center;

  @media (prefers-color-scheme: light) {
    background-image: url("/images/theme/moon.svg");
  }
  @media (prefers-color-scheme: dark) {
    background-image: url("/images/theme/sun.svg");
  }
}
