// variables
@import "/src/styles/variables/@_main.scss";

// mixins
@import "/src/styles/mixins/@_main.scss";

.login {
  @include pageContainer;

  @include fl("c", flex-start, "c");

  form {
    margin: $space-l auto;
    @include formContainer;
    font-size: $step-1;
  }
}

.links {
  width: 100%;
  margin-top: $space-l;

  font-size: $step-0;
  font-weight: 700;

  @include fl("c");
}
