extends ../layout

block content
  .accountContainer
    h1="Login"
    form.account(action="/forgot_password" method="post")
      .field
        label=secretQuestion
      .field
        label Secret Answer
        input(type='password' name='secretAnswer')
      .buttons
        button(type='submit') Verify
      .buttons
        a(href='/login') Login

