extends ../layout

block content
  .loginContainer
    .login
      .field
        label Username
        input(type='text')
      .field
        label Password
        input(type='password')
      button(type='submit') Login
