extends ../layout

block content
  .accountContainer
    h1="Login"
    form.account(action="/login" method="post")
      p=message
      .field
        label Username
        input(type='text' name='username')
      .field
        label Password
        input(type='password' name='password')
      .buttons
        button(type='submit') Login
      .buttons
        a(href='/register') Register
        a(href='/forgot_password') Forgot password?

