extends ../layout

block content
  .accountContainer
    h1="Register"
    form.account(action="/register" method="post")
      p=message
      .field
        label Username
        input(type='text' name='username' required)
      .field
        label Secret Question
        input(type='text' name='secretQuestion' required)
      .field
        label Secret Answer
        input(type='password' name='secretAnswer' required)
      .field
        label Password
        input(type='password' name='password' required)
      .buttons
        button(type='submit') Register
      .buttons
        a(href='/login') Login
